body {
  margin: 0;
}

/* ===== MOBILE FIRST ===== */

.mig {
  font-family: "Quicksand";

  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 40px;

  padding: 80px 30px;
}

/* overskrift */
.mig h1 {
  font-size: 3rem;

  margin: 0;

  border-bottom: 1px solid black;

  display: inline-block;
}

/* tekst */
.mig div {
  width: 100%;

  max-width: 500px;
}

.mig p {
  line-height: 1.8;

  font-size: 1.1rem;

  max-width: none;
}

/* billede */

.mig img {
  width: 100%;

  max-width: 350px;

  height: auto;

  object-fit: cover;

  filter: grayscale(100%);
}

/* INFO */

.Info {
  display: flex;

  flex-direction: column;

  gap: 50px;

  padding: 40px;
}

.Info section {
  width: 100%;
}

/* bølge */

.wave {
  display: none;
}

/* ===== DESKTOP ===== */

@media (min-width: 768px) {
  .mig {
    flex-direction: row;

    justify-content: space-between;

    align-items: center;

    gap: 80px;

    padding: 100px 80px;
  }

  .mig div {
    max-width: 500px;
  }

  .mig img {
    width: 350px;

    height: 500px;
  }

  .Info {
    flex-direction: row;

    justify-content: space-between;
  }

  .Info section {
    width: 300px;
  }

  .wave {
    display: block;

    position: absolute;

    left: 0;

    top: 0;

    width: 35%;

    opacity: 0.5;
  }
}
