/* general css for om mig */

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: black;
}

h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  margin: 0 0 24px 0;
  line-height: 1.1;
}

p,
li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}

/* mobile first */

.mig {
  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 60px;

  padding: 80px 30px;

  max-width: 1300px;

  margin: auto;

  position: relative;
}

/* overskrift */
.mig h1 {
  font-size: 3rem;

  font-weight: 400;

  border-bottom: 1px solid black;

  padding-bottom: 8px;

  display: inline-block;
}

/* om mig tekst */

.about-text {
  max-width: 500px;
}

.about-text p {
  margin-bottom: 25px;

  text-align: justify;

  text-wrap: pretty;

  max-width: 540px;
}

/* lister */

.liste {
  display: flex;

  gap: 80px;

  flex-wrap: wrap;
}

.liste h3 {
  font-size: 1.3rem;

  font-weight: 400;

  margin-bottom: 25px;
}

.liste ul {
  padding-left: 20px;

  margin: 0;
}

.liste li {
  margin-bottom: 10px;

  line-height: 1.6;
}

/* billede */

.mig img {
  width: 100%;

  max-width: 320px;

  height: auto;

  object-fit: cover;

  filter: grayscale(100%);
}

/* info */

.Info {
  display: flex;

  flex-direction: column;

  gap: 80px;

  padding: 100px 40px;

  max-width: 1300px;

  margin: auto;
}

.Info p,
.jobliste {
  line-height: 2;

  font-size: 1rem;
}

.Info section {
  flex: 1;
}

.Info h3 {
  font-size: 2.8rem;

  font-weight: 400;

  display: inline-block;

  border-bottom: 1px solid black;

  padding-bottom: 8px;

  margin-bottom: 30px;
}

/* bølge */

.wave {
  display: none;
}

/* desktop */

@media (min-width: 768px) {
  .mig {
    flex-direction: row;

    justify-content: space-between;

    align-items: center;

    gap: 80px;

    padding: 100px 80px;
  }

  .about-text {
    max-width: 500px;
  }

  .mig img {
    width: 350px;

    height: 460px;

    transform: translateX(50px);
  }

  .Info {
    flex-direction: row;

    justify-content: space-between;
  }

  .Info section {
    width: 300px;
  }

  .wave {
    display: block;

    position: absolute;

    left: 0;

    top: 0;

    width: 35%;

    opacity: 0.5;
  }
}
