body {
  margin: 0;
}

main {
  padding: 80px 40px;
}

/* titel */

h1 {
  font-family: "Quicksand";

  font-size: 4rem;
  font-weight: 400;

  margin-bottom: 80px;

  padding: 30px;
}

/* container */

.tema-grid {
  display: flex;

  flex-direction: column;

  gap: 20px;
}

/* hver tema boks */

.tema {
  display: flex;

  justify-content: space-between;

  align-items: center;

  background: #c4bcb1;

  border: 1px solid rgba(0, 0, 0, 0.2);

  padding: 24px 40px;

  text-decoration: none;

  color: black;

  transition: 0.3s;
}

/* tal på tema boks */

.tema h2 {
  font-family: "Quicksand";
  font-size: 3rem;
  font-weight: 400;

  margin: 0;
}

/* tekst */

.tema p {
  font-family: "Quicksand";
  font-size: 1.1rem;
  letter-spacing: 1px;

  margin: 0;
}

.intro {
  font-family: "Quicksand";
  font-size: 1rem;
  max-width: 600px;
  margin-bottom: 50px;
  padding-left: 30px;
}

/* hover effekt*/

.tema:hover {
  transform: translateX(10px);
}

/* wave effekt */

.wave {
  position: absolute;

  left: 0;
  top: 0;

  width: 35%;

  opacity: 0.5;

  z-index: 0;
}

.wave img {
  width: 100%;
}
