/* baggrundsfarve */

body {
  background: #f8f5f0;
}

/* tema side */

.tema-side {
  padding: 100px 40px;
}

/* overskrift */
h1 {
  font-size: 4rem;

  margin-bottom: 50px;

  font-family: quicksand;
  font-weight: 400;
}

.dropdown {
  margin-bottom: 20px;
}

.toggle {
  width: 100%;

  padding: 25px;

  background: #c4bcb1;

  border: none;

  text-align: left;

  font-size: 1.5rem;

  cursor: pointer;

  font-family: "Quicksand";

  display: block;
}

.content {
  display: none;

  padding: 30px;

  background: #c4bcb1;
}

.content.active {
  display: block;
}

a {
  color: black;
}
